<div>
  <input type="checkbox" id="true" name="<%= @student.active %>">
  <label for="true">This student is currently active.</label>
  <input type="checkbox" id="false" name="<%= @student.active %>" >
  <label for="false">This student is currently inactive.</label>
</div>